<footer class="footers">

    <div class="logo">
        <img class="logo__img" src="../../../assets/logo.svg"
            alt="logo">
        <p class="logo__text">© 2023 Monosushi</p>
    </div>
    <div class="menu">
        <ul>
            <li class="menu__li"><a [routerLink]="[ '/action' ]">Акції</a></li>
            <li class="menu__li"><a [routerLink]="[ '/about' ]">Про нас</a></li>
            <li class="menu__li"><a [routerLink]="[ '/offerta' ]">Оферта</a></li>
        </ul>
        <div class="menu__img">
            <img src="../../../assets/pay-card-img-1.svg" width="40px" alt="menu">
            <img src="../../../assets/pay-card-img-2.svg" width="40px" alt="menu">
            <img src="../../../assets/pay-card-img-3.svg" width="40px" alt="menu">
        </div>
    </div>
    <div class="footer">
        <p class="footer__bold">Точки самовивозу</p>
        <p class="footer__light">вул. Володимира Великого, 10в</p>
        <p class="footer__light">вул. Чорновола, 95</p>
        <div class="footer__social"> <span class="delivery__light">Слідкуйте за
                нами</span>
            <i class="uil uil-facebook-f"></i>
            <i class="uil uil-instagram"></i></div>

    </div>
    <div class="footer">
        <p class="footer__bold">Оформити замовлення</p>
        <p class="footer__light">(097) 878 08 37</p>
    </div>
    <div class="footer">
        <p class="footer__bold">Графік роботи</p>
        <p class="footer__light">працюємо з 11:00 до 21:30</p>
    </div>
</footer>
