<h1 class="header">Про нас</h1>
<div class="about">
    <h2 class="about__header">Monosushi – доставка неймовірно смачних суші у
        Львові.</h2>
    <p class="about__text">Головний пріоритет – висока якість їжі та сервісу. Ми
        – команда професіоналів, яка щодня працює для Вас. Якість та Швидкість!
        – це два основних пріоритети в роботі команди. В першу чергу звичайно ж
        Якість. Суші готуються без затримок, одразу ж після Вашого замовлення. А
        завдяки сучасним технологіям та
        відповідальному навчанню працівників, свіжі страви можливо доставляти до
        59 хв в 75% замовлень.
    </p>
    <ul>
        <li>висока якість їжі та сервісу</li>
        <li>команда професіоналів</li>
        <li>сучасні технології приготування </li>
    </ul>
</div>
<div class="aboutContainer">
    <img src="../../../assets/img_1127-scaled-568x568.jpg" width="568px"
        alt="about">
    <div class="aboutContainer__block">
        <h3>Привіт! Познайомимось?</h3>
        <p>Monosushi – це доставка найсмачніших суші у Львові, яка була створена
            командою перфекціоністів. Двоє друзів, які обожнюють роли вирішили
            створити продукт, якого їм не вистачало на ринку Львова. Продукт, в
            якому ідеальним буде все: смак, упакування, сервіс і все це за
            лояльною ціною!</p>
    </div>

    <div class="aboutContainer__block">
        <h3>Наш пріоритет - ваша посмішка від задоволення</h3>
        <p><span>Monosushi</span> – це доставка одного (mono) продукту. Роли вже
            давно стали рядовою стравою, проте процес їх приготування всеодно
            залишається цілим мистецтвом. Суші потрібно готувати за чіткою
            технологією суворо дотримуючись традицій. І в цьому ми справжні
            експерти! Сумніваєтесь? Тоді замовляйте безкоштовну доставку
            Monosushi і насолоджуйтесь.</p>
    </div>
    <img src="../../../assets/img_8051-scaled-568x568.jpeg" width="568px"
        alt="about">
</div>
<h2 class="headerName">Наші переваги</h2>
<div class="advantages">
    <div class="advantages__block border">
        <img src="../../../assets/advantages-img-1.svg" alt="about">
        <h2>Свіжі продукти</h2>
        <p>Наші інгредієнти ще вчора плавали у морі, а сьогодні вже у Ваших
            сушиках</p>
    </div>
    <div class="advantages__block border">
        <img src="../../../assets/advantages-img-2.svg" alt="advantages">
        <h2>Неймовірний смак</h2>
        <p>Ми створили сушики, які змусять Ваші рецептори вибухнути від насолоди</p>
    </div>
    <div class="advantages__block border">
        <img src="../../../assets/advantages-img-3.svg" alt="advantages">
        <h2>Великі порції</h2>
        <p>Ми віднайшли ідеальні порції ролів та завжди дотримуємось грамажу
            вказаного на сайті</p>
    </div>
    <div class="advantages__block">
        <img src="../../../assets/advantages-img-4.svg" alt="advantages">
        <h2>Чистота на кухні</h2>
        <p>Ми як ніхто інший розуміємо, що морепродукти потребують абсолютної
            чистоти на кухні</p>
    </div>
</div>
<h2 class="headerName border">Популярні запитання</h2>

<div class="question" *ngFor="let item of question;index as i">
    <h2>{{item.h2}}</h2> <span class="question__ask" (click)="ask(i)">{{item.ask? '⯅':' ⯆'}}</span>
    <div  *ngIf="item.ask">
        <p>{{item.p1}}</p>
        <p>{{item.p2}}</p>
        <p>{{item.p3}}</p>
    </div>
</div>