/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'app/shared/styles/theme-material';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(242, 246, 250);
}